{% extends "base.html" %}
{% block page_main %}
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>GENDER</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for id, info in homeInfo.items() %}
            <tr>
                <td>{{ id }}</td>
                <td>{{ info.name }}</td>
                <td>{{ info.age }}</td>
                <td>{{ info.gender }}</td>
                <td><a href="/detail/{{ id }}/">祥情</a><a href="/delete/{{ id }}/">删除</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<p>{{ func() }}</p>
<p>{{ tmpFunc() }}</p>

{% macro inputFunc(name, type='text', value='') %}
    <div>宏渲染</div>
    <input type="{{ type }}" name="{{ name }}" value="{{ value }}">
{% endmacro %}
{{ inputFunc('username', value='user') }}
{% endblock %}

